.showcase{
    @include flexConfig(flex-start);
    flex-direction: column;

    &_left{
        text-align: center;

        //Set the initial values for animation
        transform: translateX(-300px);
        opacity: 0;
        animation: moveRight .6s forwards ease-in;

        h1{
            font-size: 2.1rem;
        }
        p{
            font-size: 1rem;
            margin-top: .8rem;
            color: $gray-clr;
        }

        a.ctaBtn{
            display: inline-block;
            margin: 15px 0;
            padding: 10px;
            font-size: .8rem;
            text-decoration: none;
            color: $orange-clr;
            border: 1px solid $orange-clr;
            border-radius: 10px 20px 20px 0;
            cursor: pointer;
            transition: $transition;

            &:hover{
                color: $white-clr;
                background-color: $orange-clr;
            }
        }
    }

    @keyframes moveRight {
        from{opacity: 0;transform: translateX(-300px);} 
        to{opacity: 1;transform: translateX(0);}
    }

    &_right{
        height: 47vh;
        display: flex;
        justify-content: center;

        img{
            height: 100%;
            max-width: 250px;
            //animation initial values
            opacity: 0;
            transform: translateX(300px);
            animation: moveLeft .6s forwards ease-in;
        }

        // FINALLY GIVE SOME DELAY HERE
        img:nth-child(2){animation-delay: .18s;}
        img:last-child{
            display: none; //so we can see big window
            animation-delay: .32s;
        }

        @keyframes moveLeft {
            from{opacity: 0;transform: translateX(300px);} 
            to{opacity: 1;transform: translateX(0);}
        }
    }

}
