@import './partials/configSetup';

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;

    position: relative;
}
// JS TOGGLE SCROLL
.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
}

.setPadd{padding: 2em;}

@import "./partials/_header";
@import './partials/showcase';
@import './partials/speakers';
@import './partials/newsletter';
@import './partials/video';
@import './partials/footer';
@import './partials/media';
@import './partials/chat';